@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(11, 29, 48);
}

::-webkit-scrollbar-track{
    background: rgb(86, 89, 102);
}